<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Las Cavernas del Tiempo</title>
        <link rel="stylesheet" href="./static/styles.css">
    </head>
    <body>
        <div class="container" style="width: 400px;">
            <h2>Registrar usuario</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class="flash-messages">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <script>
                setTimeout(() => {
                    const flashMessages = document.querySelector('.flash-messages');
                    if (flashMessages) {
                        flashMessages.style.display = 'none';
                    }
                }, 5000); // Oculta los mensajes después de 5 segundos
            </script>
            <hr>
            <section>
                <div>
                    <form action="/registro/crear-usuario" method="post">
                        <div class="form-group">
                           <label for="mailUsuario">Email del usuario</label>
                           <input type="email" name="mailUsuario" placeholder="Email" id="mailUsuario" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <label for="usuario">Usuario</label>
                            <input type="text" name="usuario" placeholder="Usuario" id="usuario" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <label for="contrasena">Contraseña</label>
                            <input type="password" name="contrasena" placeholder="Contraseña" id="contrasena" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <label for="nombreCompletoUsuario">Nombre completo del usuario</label>
                            <input type="text" name="nombreCompletoUsuario" placeholder="Nombre completo" id="nombreCompletoUsuario" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <label for="dni">DNI del usuario</label>
                            <input type="text" name="dni" placeholder="DNI" id="dni" class="form-control" required/>
                        </div>
                      <button type="submit">Registrar</button>
                    </form>
                    <hr>
                    <p align="center">¿Tienes una cuenta? <a href="/" style="color:black">Entrar</a></p>
                </div>
            </section>
        </div>
    </body>
</html>